.bg-primary {
  background-color: rgb(5 8 22 / 1);
}

.bg-transparent {
  background-color: transparent;
}

.z-0 {
  z-index: 0;
}

.relative {
  position: relative;
}

.text-secondary {
  color: rgb(170 166 195 / 1);
}

.text-white {
  color: rgb(255 255 255 / 1);
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.blue-text-gradient {
  background: linear-gradient( to top, #2f80ed, #56ccf2 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: linear-gradient( to top, #11998e, #38ef7d );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: linear-gradient( to top, #ec008c, #fc6767 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}